*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
}

body{
    background-color: black;
    background-size: cover;
    height: 100vh;
}

/* background image */
body::after {
    content: "";
    background: url(./img/Potato-Background.jpg);
    background-size: cover;
    opacity: var(--bg-opacity);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30px;
    width: 100%
}

#counter-left, #counter-right{
    margin-top: 20px;
    display: inline-block; 
    background-color: brown;
    padding: 10px;
    border-top: 10px solid rgba(0, 0, 0, 0.729);
    border-radius: 20px 0px 0px 20px;
}

#counter-right{
    border-radius: 0px 20px 20px 0px;
}

#plus{
    margin-left: 2px;
    margin-top: 32px;
    color: gray;
    border: none;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    align-items: center;
    box-shadow: 0px -2px 0px rgb(255, 0, 0);
}

i{
    color: black;
    font-size: 25px;
}

i:hover{
    color: red;
}

#plus:hover{
    cursor: pointer;
}

.potatoAnimation, .potatoAnimationII, .potatoAnimationIII{
    background-image: url(./img/Potato.png);
    background-size: contain;
    background-position: center;
    width: 107px;
    height: 100px;
    animation: potatoAnimation 1s;
}

.potatoAnimation{
    align-items: center;
}

.potatoAnimationII{
    position: relative;
}

.potatoAnimationIII{
    position: relative;
}

.margin-potato{
    margin-top: 100px;
}

@keyframes potatoAnimation{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.fixed{
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    word-wrap: break-word;
}

.fixed-top{
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    border-radius: 30px;
    background-color: brown;
    border-top: 5px solid rgba(0, 0, 0, 0.729);
}

#potato-peeler-plus{
    width: 30px;
    height: 20px;
    border-radius: 5px;
}

.fa-coins{
    color: rgb(0, 0, 0);
    font-size: 13px;
}
.fa-coins:hover{
    color: brown;
    cursor: pointer;
}